/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
input {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
}
input + button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  background-color: #cfcfcf;
}

.button-enabled {
  cursor: pointer;
  background-color: #4e75ff;
  color: #fff;

  transition: background-color 0.2s ease-in-out;
}
.button-enabled:hover,
.button-enabled:focus {
  background-color: #6c8cff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 24px 0;
}

#datetime-picker {
  width: 270px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: none;
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
#datetime-picker:hover,
#datetime-picker:focus {
  border-color: #000;
}
#datetime-picker:active {
  color: #4e75ff;
}

div.flatpickr-calendar {
  width: fit-content;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #808080;
  font-size: 16px;
  color: #666666;
  padding: 16px;
}
.flatpickr-calendar {
  color: #666666;
}

.flatpickr-month > .flatpickr-current-month > .flatpickr-monthDropdown-months,
.numInputWrapper > .numInput.cur-year {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 24px;
}
.flatpickr-weekdaycontainer > span.flatpickr-weekday {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}

.flatpickr-day {
  color: #666666;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.flatpickr-day:hover,
.flatpickr-day:focus {
  background-color: #c1c1c1;
}

.dayContainer > .flatpickr-day.today {
  background-color: transparent;
  color: #666666;
  border-color: #4e75ff;
}
.numInputWrapper > .numInput.flatpickr-minute,
.numInputWrapper > .numInput.flatpickr-hour {
  font-weight: 600;
  font-size: 16px;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #212121;
}

.label {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #2e2f42;
  color: #989898;
}
